body {
    background-color: #161616;
    max-width: 900px;
    color: #fefefe;
    margin: auto;
}

.purple-section {
    background-color: purple;
    margin: 10px;
    max-width: 500px;
    border-radius: 13px;
    padding: 10px;
    border: 1px solid white;
}

.centralized {
    max-width: fit-content;
    margin: auto;
    text-align: center;
}


button {
    border-radius: 13px;
    border: none;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}

button:hover {
    filter: brightness(.5);
}
